# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP
# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

(tls-ovh) {
	tls {
		dns ovh {
			endpoint {$OVH_ENDPOINT:ovh-eu}
			application_key {$OVH_APPLICATION_KEY}
			application_secret {$OVH_APPLICATION_SECRET}
			consumer_key {$OVH_CONSUMER_KEY}
		}
	}
}

(tls-azure) {
	tls {
		dns azure {
			tenant_id {$AZURE_TENANT_ID}
			client_id {$AZURE_CLIENT_ID}
			client_secret {$AZURE_CLIENT_SECRET}
			subscription_id {$AZURE_SUBSCRIPTION_ID}
			resource_group_name {$AZURE_RESOURCE_GROUP_NAME}
		}
	}
}

(tls-cloudflare) {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

(reverse-proxy) {
	reverse_proxy {$BACKEND_ENDPOINT:nginx:80}
}

(php-fpm) {
	root * {$WEBROOT:/var/www/html}
	php_fastcgi {$PHP_FASTCGI:php:9000}
	file_server
	encode zstd gzip
}

# Import and use configuration from snippet
{$DOMAIN:localhost}:443 {
	import {$CADDY_MODE:reverse-proxy}
	import {$TLS_PROVIDER:tls-ovh}
}
